<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="f0t0vi3w3r.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="f0t0vi3w.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <f0t0vi3w3r.Properties.Settings>
            <setting name="Extensions" serializeAs="String">
                <value>*.jpg;*.jpeg/*.png/*.tif/*.bmp/*.gif</value>
            </setting>
            <setting name="ShowTinyImage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RepeatSlideShow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoNavigation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CloneBoxNavigation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoRepeatDelay" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="TabCharacters" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="HashSize" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ShowBorder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowMenuBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HelloN00bString" serializeAs="String">
                <value>Hello n00b,\nHow the **** can't you use a picture viewer application? Click on file and do junk.\nIf you can't use this, noone can help you :).\nNow close the application slowly and back away from your computer!!!\n\nThanks!</value>
            </setting>
            <setting name="DefaultOrientation" serializeAs="String">
                <value>Vertical</value>
            </setting>
            <setting name="SlideShowDelay" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RandomizeSlideShow" serializeAs="String">
                <value>False</value>
            </setting>
        </f0t0vi3w3r.Properties.Settings>
    </userSettings>
</configuration>